.footer {
  padding-top   : 70px;
  padding-bottom: 30px;
}

.footer .logo img {
  width        : 60%;
  margin-bottom: 1rem;
}

.footer .logo p {
  color    : var(--text-color);
  font-size: 1rem;
}

.social__link span a {
  text-decoration: none;
  color          : var(--heading-color);
  font-size      : 1.5rem;
}

.footer__link-title {
  color        : var(--heading-color);
  margin-bottom: 1rem;
}

.footer__quick-links li a {
  text-decoration: none;
  color          : var(--text-color);
  font-size      : 1.2rem;
}

.footer__quick-links a:hover {
  color: var(--secondary-color);
}

.footer__quick-links h6 span i {
  color    : var(--secondary-color);
  font-size: 1.4rem;
}

.footer__quick-links h6 {
  margin-bottom: 1rem;
}

.footer__quick-links p {
  font-size: 1.2rem;
} 

/* =============== RESPONSIVE ================ */
@media only screen and (max-width: 992px) {
  .footer .logo img {
    width: 20%;
  }

  .footer .logo p {
    font-size: 0.6rem; /* Decrease font size */
  }

  .footer .social__link span a {
    font-size: 0.8rem; /* Decrease font size */
  }

  .footer__link-title {
    font-size: 0.8rem; /* Decrease font size */
  }

  .footer__quick-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__quick-links li {
    flex-basis: 48%;
  }

  .footer__quick-links li a {
    font-size: 0.8rem; /* Decrease font size */
  }

  .footer__quick-links h6 {
    font-size: 0.8rem; /* Decrease font size */
  }

  .footer__quick-links p {
    font-size: 0.8rem; /* Decrease font size */
  }

  .footer__quick-links h6 span i {
    font-size: 1rem; /* Decrease font size */
  }
}

/* =============== RESPONSIVE ================ */
@media only screen and (max-width: 768px) {
  .footer .logo img {
    width: 45%;
  }

  .footer__quick-links li {
    flex-basis: 100%;
    margin-bottom: 0.5rem; /* Decrease margin bottom */
  }

  .footer__quick-links li a {
    font-size: 0.7rem; /* Decrease font size */
  }

  .footer__quick-links h6 {
    font-size: 0.7rem; /* Decrease font size */
  }

  .footer__quick-links p {
    font-size: 0.7rem; /* Decrease font size */
  }

  .footer__quick-links h6 span i {
    font-size: 0.9rem; /* Decrease font size */
  }
}
